.thecontent{
    background-color: #FAFAFA;
}
/* .c_left{ */
    /* border: solid 1px green;
    width: 65%;
    min-width: 300px;
    display: inline-block;
    margin-right: 10px;
    height: auto;
} */
#takepic{
    margin: auto;
    width: 100%;
}
/* .c_right{
    border: solid 1px red;
    width: 25%;
    min-width: 220px;
    display: inline-block;
    height: auto;
    overflow-y: auto;
    height: 500px;
} */
.camera{
    margin: auto;
    width: 100%;
    text-align: center;
    max-width: 1500px;
}
.photobooth{
    text-align: center;
    border: solid 1px #dbdbdb;
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    display: inline-block;
    margin-right: 30px;
    min-height: 300px;
    vertical-align: middle;
}
#images{
    text-align: center;
    border: solid 1px #dbdbdb;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    height: 630px;
    display: inline-block;
    min-width: 250px;
    margin-right: 30px;
    vertical-align: middle;
    padding: 0px 10px 10px 10px;
    overflow: auto;
}
#video{
    width: 100%;
    height: auto   !important;
    max-width: 630px;
    margin: auto;
    display: block;
}
#canvas{
    border: solid 2px blue;
    display: none;
    margin: auto;
}
.v_container{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px;
    position: relative;
    background-color: gray;
}
.emoji{
    position: absolute;
    left: 12%;
    top: 12%;
    width: 16%;
    height: 20%;
    display: none;
}

#withcamera{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#withcamera button{
    margin-left: 2px;
}

.uploader {
    /* text-align: center; */
    display: inline-block;
}
.uploader label{
    margin-bottom: 15px;
}
.uploader button{
    margin-left: 10px;
} 

#err-msg{
    margin-top: 5px;
    margin-bottom: -29px;
    color: red;
    display: none;
}
#camera-err{
    /* to remove if there is a problem while working on responsivity */
    position: absolute;
    top: 40%;
    right: 20%;
    color: white;
    display: block;
}

#modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px; 
    overflow: auto;
}

.modal-content{
    border-radius: 10px;
    background-color: white;
    height: auto;
    /* width: 50%;
    min-width: 450px;
    max-width: 800px; */
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
    
}
#close{
    position: absolute;
    color: #aaaaaa;
    right: 13px;
    top: -11px;
    font-size: 46px;
    font-weight: bold;
}
#close:hover, #close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content img{
    margin: 20px auto;
    display: block;
    max-width:95%;
    max-height:300px;
    width: auto;
    height: auto;
}
.modal-content .button.is-success {
    width: 82px;
}
.divider{
    width:30px;
    height:auto;
    display:inline-block;
}
#img-container{
    width: 98%;
    margin: auto;
    padding: 7px;
    padding-bottom: 2px;
    margin-top: 10px;
    background-color: #FAFAFA;
    border: solid 1px #dbdbdb;
    position: relative;
}
#img-container img{
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.rm-btn{
    transition: .4s ease;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  #img-container:hover img{
    opacity: 0.3;
  }
  #img-container:hover .rm-btn{
    opacity: 1;
  }
  #emptymsg{
      color: grey;
      margin-top: 10px;
  }



  /* second modaql */

  #rm-modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    padding-top: 200px; 
    overflow: auto;
}
  .rm-modal-content{
    border-radius: 10px;
    background-color: white;
    height: auto;
    width: 95%;
    max-width: 650px; 
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
    
}
#close1{
    position: absolute;
    color: #aaaaaa;
    right: 13px;
    top: -11px;
    font-size: 46px;
    font-weight: bold;
}
#modal-titel{
    position: absolute;
    top: 17px;
    font-size: 20px;
    font-weight: bold;
}
#rm-modal-qust{
    margin-top: -10px;
    margin-bottom: 15px;
}
#close1:hover, #close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .button.is-success {
    width: 82px;
}
.divider{
    width:30px;
    height:auto;
    display:inline-block;
}

@media (max-width:787px) { 
    .camera{
        margin-top: 30px;
    }
    .photobooth{
        display: block;
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
    }
    #images{
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
}