.thecontent {
    background-color: #FAFAFA;
    font-family: 'Tangerine', sans-serif;
}
body{
    font-family: 'Tangerine', sans-serif;
}
.settings{
    width: 70%;
    max-width: 950px;
    min-height: 500px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
}
.tab{
    float: left;
    border-right: solid 1px #dbdbdb;
    width: 20%;
    height: 500px;
}
.tab button {
    font-family: 'Tangerine', sans-serif;
    display: block;
    background-color: white;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
  }
  .tab a{
      color: black;
  }
  .tab button:hover{
      padding-left: 13px;
      background-color: #FAFAFA;
      border-left: solid 3px #dbdbdb;
  }
  #selected{
    border-left: solid 3px #262626;
    padding-left: 13px;
  }
  .tabcontent{
      color: black;
      float: right;
      display: block;
      width: 80%;
      padding: 20px 60px;
  }
  .sform{
      margin-top: 0px;
      width: 70%;
  }
.field{
    margin-top: 10px;
}

#profile-photo{
    margin-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
}
#profile-photo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c-icon{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0.4;
    font-size: 28px;
}

#c-icon:hover, #c-icon:focus {
    opacity: 1;
    cursor: pointer;
}
#photo-err{
    color: red;
    display: none;
    margin-left: 50px;
}
#photo{
    display: flex;
    align-items:center;
}


/* profile picture modal */

#profile-modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    padding-top: 200px; 
    overflow: auto;
}
  .profile-modal-content{
    border-radius: 10px;
    background-color: white;
    height: 170px;
    width: 50%;
    min-width: 450px;
    max-width: 700px; 
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
    
}
#close{
    position: absolute;
    color: #aaaaaa;
    right: 13px;
    top: -11px;
    font-size: 46px;
    font-weight: bold;
}
#modal-titel{
    position: absolute;
    top: 17px;
    font-size: 20px;
    font-weight: bold;
}

#close:hover, #close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .button.is-success {
    width: 82px;
}
.divider{
    width:30px;
    height:auto;
    display:inline-block;
}
.file-label {
    display: inline-block;
}



