.error-img{
    width: 90%;
    max-width: 950px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.thecontent{
    text-align: center;
}

a{
    color: #00B48C;
}
a:hover{
    text-decoration: underline;
    color: #00B48C;
}