/* colors
#003C48
#00B48C


buttons #00C99C

*/

/* Home page css*/

.thecontent{
    background-color: #FAFAFA;
}
.posts{
    width: 100%;
    max-width: 650px;
    margin: 30px auto;
    padding: 0px;
}

.post{
    width: 100%;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    padding-bottom: 0px;
    margin-bottom: 40px;
}

.post-header{
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.username{
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
    color: #000;
}
.profile{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-img{
    width: 100%;
    height: auto;
    margin: 0px;
}

.actions i{
    color: black;
    font-size: 27px;
    margin-left: 25px;
}

.actions i:hover{
    cursor: pointer;
}

#likes-number{
    padding-left: 25px;
    font-weight: 550;
    color: black;
}

.comments{
    padding: 0px 25px;
    margin-top: 5px;
    /* display: flex; */
}
#comment{
    line-height: 1;
    margin-bottom: 6px;
}
.c-user{
    font-weight: 550;
    color: black;
    padding-right: 5px;
}
.comment{
    color: black;
    font-size: 14px;
    font-weight: 380;
    font-family: 'Raleway', sans-serif;
    word-break: break-word;
    /* width: 90%; */
}
.comment-action{
    padding: 10px 25px;
    border-top: solid .5px #dbdbdb;
    margin-top: 12px;
}
.comment-action input {
    border: none;
    background: transparent;
    width: 90%;
}
.comment-action input:focus{
    outline: none;
}
#send-comment{
    float: right;
    color: #00B48C;
    color: #00B48C;
    font-weight: 550;
    opacity: .5;
}
#send-comment:hover{
    cursor: pointer;
}
#comment-holder{
    width: 94%;
    display: inline-block;
    vertical-align: text-top;

}
#edit{
    display: inline-block;
    vertical-align: text-top;
    float: right;
    font-size: 10px;
    padding-top: 5px;
    position: relative;
}

#edit:hover .op-edit{
    opacity: 1;
}
#options{
    position: absolute;
    width: 90px;
    /* height: 22px; */
    background-color: white;
    right: 121%;
    top: 33%;
    text-align: center;
    border: solid 1px #dbdbdb;
    display: none;
}
#options button{
    background-color: transparent;
    border: 0;
    padding: 6px;
    width: 90px;
}
#options button:focus {outline:0;}
#options button:hover 
{
    cursor: pointer;
    background-color: #dbdbdb;
}
#btn-spr{
    background-color: #dbdbdb;
    width: 90px;
    height: 1px;
}
.op-edit{
    opacity: 0.5;
}
.op-edit:hover{
    cursor: pointer;
}

.liked{
    display: none;
}

.to-show{
    display: inline;
} 

.to-hide{
    display: none;
}
#no-comment{
    width: auto;
    text-align: center;
    margin-bottom: 11px;
    margin-top: -11px;
    color: gray;
}

#see-all a{
    color: #00B48C;
}
#see-all a:hover{
    text-decoration: underline;
}
#see-all{
    margin-bottom: 7px;
}



/* delete comment modal css */

#rm-modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    padding-top: 200px; 
    overflow: auto;
}
  .rm-modal-content{
    border-radius: 10px;
    background-color: white;
    /* height: 170px; */
    width: 95%;
    max-width: 650px; 
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
    
}
#close1{
    position: absolute;
    color: #aaaaaa;
    right: 13px;
    top: -11px;
    font-size: 46px;
    font-weight: bold;
}
#modal-titel{
    position: absolute;
    top: 17px;
    font-size: 20px;
    font-weight: bold;
}
#rm-modal-qust{
    margin-top: -10px;
    margin-bottom: 15px;
}
#close1:hover, #close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .button.is-success {
    width: 82px;
}
.divider{
    width:30px;
    height:auto;
    display:inline-block;
}

/* edit comment modal  */

#edit-modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    padding-top: 200px; 
    overflow: auto;
}
#edit-close1{
    position: absolute;
    color: #aaaaaa;
    right: 13px;
    top: -11px;
    font-size: 46px;
    font-weight: bold;
}
#edit-close1:hover, #edit-close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#edit-input{
margin-bottom: 10px;
}

#edit-modal input {
    /* border: none; */
    /* border-bottom: #dbdbdb; */
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-bottom: 0.5px; */
    background: transparent;
    width: 90%;
}
#edit-modal input:focus{
    outline: none;
}

#edit-err{
    color: red;
    margin-bottom: 5px;
    font-size: 15px;
    margin-top: -4px;
}

/* login modal */

#login-modal{
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    padding-top: 200px; 
    overflow: auto;
}

#login-modal-content{
    border-radius: 10px;
    background-color: white;
    /* height: 170px; */
    width: 95%;
    max-width: 650px; 
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
    
}

#login-close1{
    position: absolute;
    color: #aaaaaa;
    right: 13px;
    top: -11px;
    font-size: 46px;
    font-weight: bold;
}
#login-close1:hover, #login-close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/*  Pagination Style */

#pagination{
    text-align: center;
    width: 100%;
    margin: auto;
    /* background-color: gray; */
}
#p-divider{
    width: 30%;
    height: auto;
    display: inline-block;
}
.p-btn{
    color: #003C48;
    font-size: 50px;
}

#load-more{
    width: 100%;
    background-color: white;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    color: gray;
    cursor: pointer;
}





/* #left{
    float: left;
}
#right{
    float: right;
} */


@media (max-width:600px) { 
   

}